body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*S: Custom CSS*/
.h100 {
  height: 100%;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-header .menu-header--right {
  margin: 0 20px;
}
/*E: Custom CSS*/

/*S: Trigger sidebar*/
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.list-menu-sidebar {
  background: #5ab1f9 !important;
}
/*E: Trigger sidebar*/

/*S: Logo*/
.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

/* .src-logo {
  margin: 16px;
  height: 36px;
  background-repeat: no-repeat;
  background-image: url('logo.png');
}

.src-logo-min {
  margin: 16px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('logo-min.png');
} */
/*E: Logo*/

/*S: Layout*/
.ant-layout-sider-children {
    min-height: 100vh;
    height: 100%;
    margin-top: -0.1px;
    padding-top: 0.1px;
}

.ant-layout-sider {
  z-index: 1;
}
/*E: Layout*/

/*S: Content*/
.content {
  margin: 14px 16px;
  padding: 14px;
  background: #fff;
  /* min-height: 100vh; */
  /* margin-bottom: 75px; */
}
/*E: Content*/

/*S: Footer*/
.footer {
  /*position: fixed;*/
  left: 0;
  bottom: 0;
  width: 100%;
  /*color: white;*/
  text-align: center;
}
/*E: Footer*/

/*S: Table Resizeable*/
.react-resizable {
  position: relative;
  background-clip: padding-box;
}
.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: col-resize;
  z-index: 1;
}
/*E: Table Resizeable*/

/*S: Button Custom*/
.ant-btn-warning {
    color: #fff;
    background-color: #fdcd01;
    border-color: #fdcd01;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-btn-warning:hover, .ant-btn-warning:focus {
    color: #fff;
    background-color: #fdcd01;
    border-color: #fdcd01;
}

.ant-btn-success {
    color: #fff;
    background-color: #52c41a;
    border-color: #52c41a;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-btn-success:hover, .ant-btn-success:focus {
    color: #fff;
    background-color: #52c41a;
    border-color: #52c41a;
}

.ant-btn-default {
    color: #fff;
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-btn-default:hover, .ant-btn-default:focus {
    color: #fff;
    background-color: #d9d9d9;
    border-color: #d9d9d9;
}

.ant-btn-proacc {
  color: #fff;
  background-color: #40a9ff;
  border-color: #40a9ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-btn-proacc:hover, .ant-btn-proacc:focus {
  color: #fff;
  background-color: #40a9ff;
  border-color: #40a9ff;
}
/*E: Button Custom*/

/*S: Collection Form Page*/
.collection-create-form_last-form-item {
  margin-bottom: 0;
}
/*E: Collection Form Page*/

/*S: Icon Delete Element Exec Plan in Form*/
.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
/*E: Icon Delete Element Exec Plan in Form*/

/*S: Editable Cell*/
.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}
/*E: Editable Cell*/

/* Sider */
.background-sider {
  background: linear-gradient(180deg, #69C1F7 0%, #287DFF 100%) !important;
}

.set-width {
  min-width: 220px !important;
}

.ant-layout-sider-trigger {
  background: linear-gradient(180deg, #69C1F7 0%, #287DFF 100%);
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #5ab1f9 !important;
}

.link {
  color: #FFFFFF !important;
  font-weight: 600;
  font-size: medium;
}

.ant-menu-dark .ant-menu-submenu-open {
  color: #FFFFFF !important;
  font-weight: 600;
}

.ant-menu-dark {
  color: #FFFFFF !important;
  font-weight: 600;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  /* background-color: #2e4466; */
  background-color: #096dd9;
}

/* Sider */

/* Drawer */
.ant-drawer-header {
  background: linear-gradient(180deg, #69C1F7 0%, #287DFF 100%);
}

.ant-drawer-title {
  color: #FFFFFF !important;
}

.ant-drawer-close:focus, .ant-drawer-close:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
/* Drawer */

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.title__header-list {
  font-size: 16px;
  font-weight: 700;
}

.title__item-list {
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  border: 1px solid;
  border-color: #1890ff;
  color: #1890ff;
  border-radius: 15px;
  padding: 5px 5px;
  text-align: center;
}

.title__item-list:hover {
  background: #1890ff;
  color: #fff;
}

.title__item-list--active {
  background: #1890ff;
  color: #fff;
}

.title__item--checkbox span {
  font-size: 14px;
  font-weight: 500;
}

.title__item--checkbox label:hover {
  color: #1890ff;
}

.table__custom {
  margin: 10px 0;
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
}

.table__col {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* .table__row:nth-child(even) {
  background-color: #dddddd;
} */

.field__warning {
  background-color: #f7f76e;
  padding: 8px 5px;
}